/* app/globals.css */

@import "tailwindcss";

html,
body {
  height: 100%;
}

/* 背景と文字色のデフォルト */
body {
  @apply bg-slate-950 text-slate-50;
}

/* ルートの main が全画面センターになるように */
main {
  min-height: 100vh;
}
